/* src/fonts/fonts.css */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

p{
    font-family: "Archivo", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-optical-sizing: auto;
}

.hover-move-up {
  transition: transform 0.3s ease;
  margin-bottom: 10px;
}

.hover-move-up:hover {
  transform: translateY(-10px);
}

.growth-challenge {
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
}
  
.growth-challenge .challenge-header{    
  text-align: center;
}

@media (max-width: 767px) {
  .growth-challenge {
    padding-left: 0;
    padding-right: 0;
  }
}