/* src/fonts/fonts.css */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

.archivo{
    font-family: "Archivo", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-optical-sizing: auto;
  }