/* SwiperCustom.css */
.swiper-pagination {
    text-align: left; /* Align pagination dots to the left */
    display: flex;
    justify-content: end;
    width: 850px;
  }
  
  .swiper-pagination-bullet {
    background-color: gray; /* Use the Tailwind color */
    opacity: 5; /* Make sure the bullets are fully visible */
  }
  
  .swiper-pagination-bullet-active {
    background-color: red ; /* Active bullet color */
  }

  .header-text {
    font-size: 42px;
    line-height: 1.2;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
  }
  
  @media (min-width: 768px) {
    .header-text {
      font-size: 56px;
    }
  }
  