.contact-left {
    /* background-image: url('../../assets/contact2.png'); */
    background-size: cover;
    background-position: center;
  }
  
  @media (max-width: 768px) {
    .contact{
        margin-top: 5rem;
    }
    .contact-left {
      display: none;
    }
  }
